body{
    font-family:verdana;
    background:hsl(0, 0%, 95%);
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:rgb(0, 51, 255);
}
form{
    background:hsla(0, 0%, 100%, 0.4);
    font-size:1em;
    text-align:center;
    
    max-width:350px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.858)
}
#textbox{
    font-size:25px;
    padding:5px;
    border-radius:10px;
    border:2px solid hsl(0, 0%, 80%);
    text-align:center;
    max-width:30%;
    margin-bottom:15px;
}
label{
    font-size:25px;
    font-weight:bold;
}
button{
    font-size:35px;
    margin-top:25px;
    padding:10px;
    border-radius:10px;
    border:3px solid hsl(0, 0%, 0%);
    cursor:pointer;
}
#result{
    font-size:1.5em;
    font-weight:bold;
    margin-top:25px;
    margin-bottom:15px;
}